<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MEHN Recipes</title>
    <link rel=“stylesheet” type=“text/css” href=“/assets/css/bootstrap.min.css”>
  </head>
  <body>
    <a href='/recipes/login'>Click Here to Log In</a>
    {{{body}}}
  </body>
</html>
